{% load i18n %}
<!DOCTYPE html>
<html lang="pt-br" >
<head>
    <title>{% trans "Add service" %} | Papiro</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">

    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">
    <style media="screen">
        #id_size {max-width: 60px;flex:none;}
        #id_format {max-width: 300px;flex:none;}
    </style>
    <script type="text/javascript">
        var $ = django.jQuery;
        $("document").ready(function(){
            $("#id_api").val({{api.id}});
            $("#id_api").parent().parent().hide();
        });
    </script>
</head>


<body class="popup  app-descriptor model-service change-form" data-admin-utc-offset="0">
    <div id="container">
        <div id="content" class="colM">
            <h1>{% trans "New Api Project" %}</h1>
            <div id="content-main">
            <form action="" method="post">
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <br class="clear">
                <input type="submit" value="{% trans 'Submit' %}">
            </form>
        </div>
        <br class="clear">
    </div>
</body>
</html>
