{% extends "papiro/base.html" %}
{% load static %}
{% load i18n %}

{% block header_insert %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/service-details.css' %}?09qejuuuuw31ad9">
    <script src="{% static 'js/popup.js' %}"></script>
{% endblock %}

{% block jquery_internal %}
    $("#change_service_version").click(function(){
        var tag = $("#service_tags").val();
        if(tag==0){
            document.location.href = "{% url 'service_detail_by_name' service.api.id service.name %}";
        } else {
            document.location.href = "{% url 'service_detail_by_name' service.api.id service.name %}/tag/" + tag;
        }
    });

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", $("#_csrf").val());
            }
        }
    });

    $("#commit_tag").click(function(){
        if(confirm("{% trans 'Are you sure you want close this version and generate a new tag?'%}")){
            var _url = "{% url 'create_new_tag' service.id %}";
            var _data = '{"commit": "true" }';
            var returned_version;
            console.log(_url);
            console.log(_data);
            $.ajax({
                url : _url,
                type : 'POST',
                data : _data,
                headers : {
                    'Content-Type' : 'application/json'
                },
                success : function(response, textStatus, jqXhr) {
                    console.log("Successfully Posted!", textStatus);
                    returned_version = response;
                    console.log(returned_version);
                },
                error : function(jqXHR, textStatus, errorThrown) {
                    console.log("The following error occured: " + textStatus, errorThrown);
                },
                complete : function() {
                    document.location.href = "{% url 'service_detail_by_name' service.api.id service.name %}/tag/" + returned_version;
                }
            });
        }
    });
{% endblock %}

{% block main %}
<div id="title">
    <div>
        <h1>{{ service.name }} </h1>
        <em>[{% if service.tag == 0 %}SNAPSHOT{% else %}v. {{service.tag}}{% endif %}]</em>
        {% if tag_signature %}
            {% if tag_signature.is_closed == False %}
                <span class="status"> {% trans 'pending' %}</span>
            {% endif %}
        {% endif %}
    </div>

    <ul id="tag-select">
        <li>
            {% trans 'Version' %}: 
            <select id="service_tags">
                {% for svc in all_services %}
                    <option value="{{svc.tag}}" {% if svc.tag == service.tag %}selected{% endif %}>{% if svc.tag == 0 %}SNAPSHOT{% else %}{{svc.tag}}{% endif %}</option>
                {% endfor %}
            </select>
            <button type="button" id="change_service_version" class="go">{% trans "Go" %}</button>
        </li>
    </ul>
</div>


<form id="service_form" novalidate="" style="display: none;">
    <input type="hidden" id="_csrf" value="{{csrf_token}}">
</form>


<div id="service_attributes">
    <div>
        <div>
            <span name="description" id="description" class="editable" data-field-type="textarea" data-field="description" data-field-label="{% trans 'description' %}" data-id="{{service.id}}">
                {% if service.description %}
                    {{ service.description }}
                {% else %}
                    <em>{% trans "Click to add description" %}</em>
                {% endif %}
            </span>
        </div>
        <!--
        <div>
            <span name="status" id="id_status" class="editable" data-field-type="select" data-field="status" data-field-label="{% trans 'status' %}" data-id="{{service.id}}">
                {{ service.get_status_display }}
            </span>
        </div>
        -->
        <div>    
            {% if service.iib_service_number %}
                <span name="iib" id="iib">
                    {{ service.iib_service_number }}
                    {% if service.iib_service_number %}
                            v.{{ service.iib_service_version_number }}
                    {% endif %}
                </span>
            {% endif %}
        </div>
        <div id="endpoint">
                <span class="http_method {{service.http_method|lower}}">
                    {{service.http_method}}
                </span>
                <span class="url">
                    {% if service.endpoint_uri %}
                        {{ service.endpoint_uri }}
                    {% else %}
                        {% trans 'No endpoint' %}
                    {% endif %}
                </span>
            </span>
        </div>
    </div>
</div>

{% if parameter_groups %}
    {% for parameter_group in parameter_groups %}
    <div class="parameter-group" id="group_{{parameter_group.id}}">
        <div class="results">
            <table id="result_list">
                <caption class="{% if parameter_group.type == '088800'%}{{service.http_method|lower}}{% endif %}">
                    {{ parameter_group.get_type_display }}
                </caption>
                {% if parameter_group.parameters.all %}
                <thead>
                    <tr>
                        <th scope="col"  class="action-checkbox-column">
                            <div class="text"></div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col"  class="column-name">
                            <div class="text">{% trans "name" %}</div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col"  class="column-description">
                            <div class="text">{% trans "format" %}</div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col"  class="column-size">
                            <div class="text">{% trans "size" %}</div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col"  class="column-required">
                            <div class="text">{% trans "required" %}</div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col"  class="column-domain_rules">
                            <div class="text">{% trans "domain rules" %}</div>
                            <div class="clear"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for parameter in parameter_group.parameters.all %}
                        <tr class="row1">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ parameter.name }}</td>
                            <td >{{ parameter.get_format_display }}</td>
                            <td >{{ parameter.size }}</td>
                            <td >{{ parameter.required|yesno:"Sim,Não,Não" }}</td>
                            <td >{{ parameter.domain_rules }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="row1">
                        <td colspan="4">{% trans "no parameters yet." %}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <ul class="parameter-action">
            <li>
                {% if service.tag == 0 %}
                <!-- editable only if service tag is SNAPSHOT (0) -->
                <button type="button" data-href="{% url 'popup_add_parameter' service.id parameter_group.id %}" class="add jpopup">
                    <span class="ui-icon ui-icon-plusthick"></span>
                    {% trans "parameter" %}
                </button>
                {% endif %}
            </li>
        </ul>
    </div>
    {% endfor %}
{% else %}
    <h2>{% trans "No parameter groups yet." %}</h2>
{% endif %}
</div>

<div class="tag_control">
{% if service.tag == 0 %}
    <!-- only shows button if tag == 0 (SNAPSHOT) -->
        <div class="tag_signature">
            <h3>{% trans 'First signature' %}</h3>
            <div>
                <button id="commit_tag">{% trans 'Sign and commit tag' %}</button>
            </div>
        </div>
        <div class="tag_signature">
            <h3>{% trans 'Second signature' %}</h3>
            <div>
                <span>
                    {% trans 'Awaiting for first signature' %}
                </span>
            </div>
        </div>
{% else %}
    <!-- if not snapshot -->
    {% if tag_signature %}
        <div class="tag_signature">
            <h3>{% trans 'First signature' %}</h3>
            <div>{% trans 'Digitally signed by' %} {{tag_signature.first_signer.first_name}} {{tag_signature.first_signer.last_name}}
                {% trans ' at ' %} {{tag_signature.signed_at}}
            </div>
        </div>

        {% if tag_signature.second_signer == None %}
        <div class="tag_signature">
            <h3>{% trans 'Second signature' %}</h3>
            <div>
                <button id="confirm_tag">{% trans 'Confirm and commit tag' %}</button>
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endif %}
<div class="clear"></div>

{% endblock %}
