{% extends "papiro/base.html" %}
{% load i18n %}

{% block css_internal %}
    button.go {
        font-size: 13px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
        cursor: pointer;
        height: 28px;
        line-height: 1;
        padding: 6px 8px;
        margin: 0;
        color: #333;
    }

    .tag_control button {padding: 6px 15px;border: none;border-radius: 4px;color: #fff;
        cursor: pointer;margin-left:3px;background: #205067;margin: 0 0 0 8px;
        text-transform: uppercase;padding: 12px 15px;}

{% endblock %}

{% block jquery_internal %}
    var popupWindow;
    function isPopupWindowOpen(){
        if(popupWindow){
            if(popupWindow.closed) return false;
            return true;
        } else
            return false;
    }

    $ = django.jQuery;
    $(function() {
        $('a.jpopup').click(function() {
            if(!isPopupWindowOpen()){
                var href = django.jQuery(this).attr('href');
                popupWindow = window.open(href, 'jpopup', 'height=600, width=500, toolbar=no');
            } else {
                popupWindow.focus();
            }
            return false;
        });

        $("#change_service_version").click(function(){
            var tag = $("#service_tags").val();
            if(tag==0){
                document.location.href = "{% url 'service_detail_by_name' service.api.id service.name %}";
            } else {
                document.location.href = "{% url 'service_detail_by_name' service.api.id service.name %}/tag/" + tag;
            }
        });

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", $("#_csrf").val());
                }
            }
        });

        $("#commit_tag").click(function(){
            if(confirm("{% trans 'Are you sure you want close this version and generate a new tag?'%}")){
                var _url = "{% url 'create_new_tag' service.id %}";
                var _data = '{"commit": "true" }';
                var returned_version;
                console.log(_url);
                console.log(_data);
                $.ajax({
                    url : _url,
                    type : 'POST',
                    data : _data,
                    headers : {
                        'Content-Type' : 'application/json'
                    },
                    success : function(response, textStatus, jqXhr) {
                        console.log("Successfully Posted!", textStatus);
                        returned_version = response;
                        console.log(returned_version);
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        console.log("The following error occured: " + textStatus, errorThrown);
                    },
                    complete : function() {
                        document.location.href = "{% url 'service_detail_by_name' service.api.id service.name %}/tag/" + returned_version;
                    }
                });
            }
        });

    });
{% endblock %}

{% block breadcrumbs %}
    <a href="/api/">Início</a> &rsaquo; <a href="/api/">Projetos de API's</a> &rsaquo; <a href="/api/{{service.api.id}}/services"> {{ service.api.name }}</a> &rsaquo; {{ service.name }}
{% endblock %}

{% block title %}{{ service.name }} <em>[{% if service.tag == 0 %}SNAPSHOT{% else %}v. {{service.tag}}{% endif %}]</em>{% endblock %}

{% block content_main %}
<ul class="object-tools">
    <li>
        {% trans 'Version' %}: 
        <select id="service_tags">
            {% for svc in all_services %}
                <option value="{{svc.tag}}" {% if svc.tag == service.tag %}selected{% endif %}>{% if svc.tag == 0 %}SNAPSHOT{% else %}{{svc.tag}}{% endif %}</option>
            {% endfor %}
        </select>
        <button type="button" id="change_service_version" class="go">{% trans "Go" %}</button>
    </li>
</ul>

<form id="service_form" novalidate="">
<input type="hidden" id="_csrf" value="{{csrf_token}}">
<div>
    <fieldset class="module aligned ">
        <div class="form-row field-name">
            <div>
                <label class="required" for="id_description">Descrição:</label>
                <span name="description" id="id_description" class="editable" data-field-type="textarea" data-field="description" data-field-label="{% trans 'description' %}" data-id="{{service.id}}">
                    <span>
                    {% if service.description %}
                        {{ service.description }}
                    {% else %}
                        <em>{% trans "Click to add description" %}</em>
                    {% endif %}
                    </span>
                </span>
            </div>
        </div>
        <div class="form-row field-name">
            <div>
                <label class="required" for="id_status">Status:</label>
                <span name="status" id="id_status" class="editable" data-field-type="select" data-field="status" data-field-label="{% trans 'status' %}" data-id="{{service.id}}">
                    <span>
                        {{ service.get_status_display }}
                    </span>
                </span>
            </div>
        </div>
        <div class="form-row field-name">
            <div>
                <label class="required" for="id_iib">Operação IIB:</label>
                <span name="iib" id="id_iib">
                    {% if service.iib_service_number %}
                    {{ service.iib_service_number }}
                        {% if service.iib_service_number %}
                             v.{{ service.iib_service_version_number }}
                        {% endif %}
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="form-row field-name">
            <div>
                <label class="required" for="id_endpoint">Endpoint:</label>
                <span name="endpoint" id="id_endpoint">{{ service.endpoint_uri }}</span>
            </div>
        </div>
    </fieldset>
</div>
</form>
<div>
{% if parameter_groups %}
    {% for parameter_group in parameter_groups %}
    <div class="form-row" id="group_{{parameter_group.id}}">
        <div class="module" id="changelist">
            <div class="results">
                <table id="result_list">
                    <caption>
                        <a href="/admin/descriptor/" class="section" title="API's">{{ parameter_group.get_type_display }}</a>
                    </caption>
                    {% if parameter_group.parameters.all %}
                    <thead>
                        <tr>
                            <th scope="col"  class="action-checkbox-column">
                               <div class="text"></div>
                               <div class="clear"></div>
                            </th>
                            <th scope="col"  class="column-name">
                               <div class="text">{% trans "name" %}</div>
                               <div class="clear"></div>
                            </th>
                            <th scope="col"  class="column-description">
                               <div class="text">{% trans "format" %}</div>
                               <div class="clear"></div>
                            </th>
                            <th scope="col"  class="column-size">
                               <div class="text">{% trans "size" %}</div>
                               <div class="clear"></div>
                            </th>
                            <th scope="col"  class="column-required">
                               <div class="text">{% trans "required" %}</div>
                               <div class="clear"></div>
                            </th>
                            <th scope="col"  class="column-domain_rules">
                               <div class="text">{% trans "domain rules" %}</div>
                               <div class="clear"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for parameter in parameter_group.parameters.all %}
                            <tr class="row1">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ parameter.name }}</td>
                                <td >{{ parameter.get_format_display }}</td>
                                <td >{{ parameter.size }}</td>
                                <td >{{ parameter.required|yesno:"Sim,Não,Não" }}</td>
                                <td >{{ parameter.domain_rules }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr class="row1">
                            <td colspan="4">{% trans "no parameters yet." %}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <ul class="object-tools">
            <li>
                {% if service.tag == 0 %}
                <!-- editable only if service tag is SNAPSHOT (0) -->
                <a href="{% url 'popup_add_parameter' service.id parameter_group.id %}" class="addlink jpopup">{% trans "Add parameter" %}</a>
                {% endif %}
            </li>
        </ul>
    </div>
    {% endfor %}
{% else %}
    <h2>{% trans "No parameter groups yet." %}</h2>
{% endif %}
</div>

<div class="tag_control">
    {% if service.tag == 0 %}
    <!-- only shows button if tag == 0 (SNAPSHOT) -->
    <button id="commit_tag">{% trans 'Commit tag' %}</button>
    {% endif %}
</div>
{% endblock %}
